<template>
    <div id = "chats">
        <!-- API INFO -->
        <div>
            <div class="headerName d-flex w-100 justify-content-between">
                    <!-- CLIENT FORM-->
                        <b-row class="mt-2">
                            <b-col>
                                <h3 class="ml-2" style="width: auto">Insert user: </h3>
                            </b-col>
                            <b-col>
                                <b-form-input id="client"
                                              type="text"
                                              required
                                              minlength=2
                                              v-model="client"
                                              @keypress.enter="submitClient()"
                                              :disabled="clientCheck"
                                              placeholder="Enter client">
                                </b-form-input>
                            </b-col>
                            <b-col lg="auto">
                                <b-button @click="submitClient()" variant="primary" :disabled="clientCheck">Search</b-button>
                                <b-button class="ml-5" variant="primary" v-on:click="getClientList()" small>Client list</b-button>
                                <b-button class="ml-lg-5" variant="success" :disabled="actualClient == ''" v-on:click="newConversation()" small>New conversation</b-button>
                            </b-col>
                        </b-row>
            </div>

            <!-- BODY TABLE -->
            <div class="bodyInfo">
                <b-card-group deck>
                    <!-- MESSAGE LIST -->
                    <div class="A">
                        <b-card scroll id="chat" title="MessagesList" class="heigthA mb-2">
                            <b-list-group>
                                <b-list-group-item
                                        v-for="(msg, i) in messagesSQSlist"
                                        :key="i">
                                    <div>
                                        <h6 class="mb-1" >
                                            {{ msg.content }}
                                            <small>{{ msg.date }} [ {{ msg.host }} ] </small>
                                        </h6>
                                    </div>
                                </b-list-group-item>
                            </b-list-group>
                            <b-spinner variant="primary" type="grow" class="centered" v-if="msgSend"/>
                        </b-card>
                    </div>
                    <div class="B">
                        <!-- CONVERSATION LIST -->
                            <div class="userConversations mr-4">
                                <b-card scroll title="User Conversations" class="heigthB mb-2" :border-variant="conversationVariant">
                                    <b-list-group>
                                        <b-list-group-item
                                                v-for="(conv, x) in conversationList"
                                                :key="x"
                                                class="w-100">
                                            <div no-body class="w-100">
                                                <h6 class="mb-1 w-100" >
                                                    <b-button variant="outline-info" v-on:click="getConversation(conv)" small>{{ conv }}</b-button>
                                                    <b-badge variant="danger" @click="deleteConversation(conv)">Delete</b-badge>
                                                </h6>
                                            </div>
                                        </b-list-group-item>
                                    </b-list-group>
                                </b-card>
                            </div>
                    </div>
                </b-card-group>
            </div>
            <div class="bodyInfo">
                <b-card class="mb-2 mr-4"  :border-variant="messageVariant">
                    <!-- SEND MESSAGE -->
                    <div v-if="!ended && conversationSession">
                        <b-row>
                            <b-col>
                                <b-form-input id="message"
                                              type="text"
                                              required
                                              v-model="messageSQS"
                                              placeholder="Enter message"
                                              :disabled="msgSend"
                                              @keypress.enter="sendMessage()">
                                </b-form-input>
                            </b-col>
                            <b-col sm="auto">
                                <b-button @click="sendMessage()" variant="primary" :disabled="msgSend">Send</b-button>
                            </b-col>
                        </b-row>
                    </div>
                    <h3 v-if="ended">ENDED CONVERSATION</h3>
                    <h3 v-if="!conversationSession">OTHER SESSION CONVERSATION</h3>
                </b-card>
            </div>
        </div>

        <b-modal ref="newClient" title="New client" hide-footer>
            <div class="d-block text-center">
                <h3>Do you want create {{ client }}?</h3>
            </div>
            <b-button class="mt-3" block @click="createClient(client)">Yes</b-button>
            <b-button class="mt-3" block @click="$refs.newClient.hide()">No</b-button>
        </b-modal>

        <b-modal ref="clientList" title="Client List" hide-footer ok-only>
            <b-list-group>
                <b-list-group-item
                        v-for="(clients, x) in clientList"
                        :key="x"
                        class="w-100">
                    <div no-body class="w-100">
                        <h6 class="mb-1 w-100" >
                            {{ clients.name }}
                            <b-badge variant="danger" @click="deleteClient(clients.name)">Delete</b-badge>
                        </h6>
                    </div>
                </b-list-group-item>
            </b-list-group>
        </b-modal>

        <b-modal ref="error" title="ERROR" hide-footer ok-only>
            <h2>Something bad happended. Try again.</h2>
        </b-modal>

    </div>
</template>

<script>
    import {AXIOS} from '../conf/http-common';
    import restMethods from '../common/restPaths';
    import clientVariables from '../store/clientVariables';

    const uuidv4 = require('uuid/v4');

    export default {
        name: 'Chats',
        mixins: [restMethods],
        data() {
            return {
                clientList: [],

                client: "",
                clientCheck: false,
                msgSend: false,

                actualClient:"",
                actualConversation:"",
                conversationVariant: "-",
                conversationList:[],

                messageSQS: '',
                msgStatus: true,
                messagesSQSlist: [],
                messageVariant: '-',
                ended: false,
                conversationSession: false,
            };
        },

        created() {
            this.client = clientVariables.state.client;
            this.actualClient = clientVariables.state.client;
        },

        methods: {
            submitClient(){
                this.clientCheck = true;
                this.clear();
                const obj = {
                    clientName: this.client,
                };
                const json = JSON.stringify(obj);
                AXIOS.post(this.microS3Path  + clientVariables.state.mode + '/' + this.microS3Methods.getClientConversation, json, {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        this.actualClient = response.data.client.name;
                        this.conversationList = response.data.client.conversations;
                        this.conversationVariant = "success";
                        this.clientCheck = false;
                        clientVariables.commit('updateClient', this.actualClient);
                    })
                    .catch(e => {
                        this.$refs.newClient.show();
                        this.clientCheck = false;
                    });
            },

            getConversation(conv){
                const obj = {
                    conversationId: conv,
                };
                const json = JSON.stringify(obj);
                AXIOS.post(this.microS3Path + clientVariables.state.mode + '/'  + this.microS3Methods.getConversation, json, {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        this.messagesSQSlist = response.data.messages;
                        this.actualConversation = conv;
                        this.ended = response.data.ended;
                        this.conversationSession = (response.data.sessionId == clientVariables.state.session);
                        this.scrollChat();
                        this.conversationVariant = "-";
                        this.messageVariant = "success";
                    })
                    .catch(e => {
                    });
            },

            getClientList(){
                AXIOS.get(this.microS3Path + clientVariables.state.mode + '/' + this.microS3Methods.getClientList)
                    .then(response => {
                        this.clientList=response.data.clients;
                        this.$refs.clientList.show();
                    })
                    .catch(e => {
                        this.$refs.error.show();
                        this.clear();
                    });
            },

            sendMessage(){
                this.msgSend = true;
                const obj = {
                    sessionId: clientVariables.state.session,
                    id: uuidv4(),
                    content: this.messageSQS,
                    conversation: this.actualConversation,
                    client: this.actualClient,
                };
                const json = JSON.stringify(obj);
                AXIOS.post(this.microqueuePath + clientVariables.state.mode + '/'  + this.microqueueMethods.send, json, {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        this.messagesSQSlist.push(response.data);
                        if(this.messageSQS == "END") this.ended = true;
                        this.messageSQS = "";
                        this.scrollChat();
                        this.msgSend = false;
                    })
                    .catch(e => {
                        this.$refs.error.show();
                        this.clear();
                    });
                this.scrollChat();
            },

            deleteConversation(conv){
                AXIOS.delete(this.microS3Path + clientVariables.state.mode + '/'  + this.microS3Methods.deleteConv + '/' + this.actualClient + '/' + conv)
                    .then(response => {
                        this.submitClient();
                    })
                    .catch(e => {
                        this.$refs.error.show();
                        this.clear();
                    });
                this.scrollChat();
            },


            deleteClient(clientToDelete){
                AXIOS.delete(this.microS3Path + clientVariables.state.mode + '/'  + this.microS3Methods.deleteClient + '/' + clientToDelete)
                    .then(response => {
                        this.actualClient = "";
                        clientVariables.commit('updateClient', this.actualClient);
                        this.$refs.clientList.hide();
                        this.clear();
                    })
                    .catch(e => {
                        this.$refs.error.show();
                        this.clear();
                    });
                this.scrollChat();
            },

            createClient(client){
                this.clear();
                this.actualClient = client;
                this.newConversation();
                this.$refs.newClient.hide();

                this.conversationVariant = "-";
                this.messageVariant = "success";
            },

            newConversation(){
                let id = uuidv4();
                this.actualConversation = id;
                this.messagesSQSlist=[];
                this.conversationList.push(id);
                this.ended = false;
                this.conversationSession = true;


                this.conversationVariant = "-";
                this.messageVariant = "success";
            },

            scrollChat(){
                var container = this.$el.querySelector("#chat");
                container.scrollTop = container.scrollHeight;
            },

            clear(){
                this.conversationList = [];
                this.messagesSQSlist=[];
                this.messageSQS = "";

                this.conversationVariant = "-";
                this.messageVariant = "-";
            }
        },
        computed: {
            mode() {
                return clientVariables.state.mode;
            }
            ,
        },
        watch: {
            mode() {
                this.clear()
            },
        }
    };
</script>

<style scoped>

    .headerName {
        padding-left: 20px;
        background-color: #eeeeee;
    }

    .bodyInfo {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        background-color: #fbfbfb;
    }

    .A {
        width: 70%;
    }

    .B {
        width: 30%;
    }

    .heigthA {
        height: 500px;
        overflow-y: auto;
    }

    .heigthB {
        height: 500px;
        overflow-y: auto;
    }

</style>