<template>
    <div id="topMenu">
        <b-navbar type="dark" variant="primary" toggleable="sm">
            <b-navbar-toggle target="nav_collapse"/>
            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                    <b-nav-item><i rel="icon" class="fas fa-cloud" width="140px"></i></b-nav-item>
                </b-navbar-nav>
                <span id="title">Application Technologies EchoSystem APP</span>
                <b-button :variant="buts3"
                          style="margin-left: 27%"
                          :disabled="modeS3"
                          @click="changeMode()"> S3 </b-button>
                <b-button :variant="butdb"
                          class="ml-2"
                          :disabled="!modeS3"
                          @click="changeMode()"> DynamoDB </b-button>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
    import restMethods from '../common/restPaths';
    import clientVariables from '../store/clientVariables';
    export default {
        name: 'navigationBar',
        mixins: [restMethods],
        data() {
            return {
                envs: [],
                modeS3: true,
                buts3: "success",
                butdb: "light",
            };
        },
        created() {
            clientVariables.commit('updateMode', this.modeS3);
        },
        methods: {
            changeMode(){
                this.modeS3 = !this.modeS3;
                this.buts3 = this.butdb;
                if(this.buts3 == "success") this.butdb = "light";
                else this.butdb = "success";
                clientVariables.commit('updateMode', this.modeS3);
            }
        },
        computed: {
        },
    };
</script>

<style scoped>
    #title{
        color: #f8f9fa;
    }

    .envText {
        width: 150px;
    }

    .bg-primary{
        background-color: #288cc8 !important
    }
</style>