<template>
    <div id = "search">

        <!-- API INFO -->
        <div>
            <div class="headerName d-flex w-100 justify-content-between">
                    <!-- CLIENT FORM-->
                        <b-row class="mt-2">
                            <b-col>
                                <h3 class="ml-2" style="width: auto">Insert user: </h3>
                            </b-col>
                            <b-col>
                                <b-form-input id="client"
                                              type="text"
                                              required
                                              minlength=2
                                              v-model="client"
                                              placeholder="Enter client"
                                              @keypress.enter="submitClient()">
                                </b-form-input>
                            </b-col>
                            <b-col lg="auto">
                                <b-button @click="submitClient()" variant="primary" :disabled="clientCheck">Search</b-button>
                                <b-button class="ml-5" variant="primary" v-on:click="getClientList()" small>Client list</b-button>
                            </b-col>
                        </b-row>
            </div>
        </div>

            <!-- BODY TABLE -->
            <div>
                <div class="headerSearch justify-content-between mb-3">
                    <!-- CLIENT FORM-->
                        <b-row class="mt-2" v-if="actualClient != ''">
                            <b-col lg="auto">
                                <h3 class="ml-2" style="width: auto">Search: </h3>
                            </b-col>
                            <b-col col="3">
                                <b-form-input id="client"
                                              type="text"
                                              required
                                              minlength=2
                                              v-model="textSearch"
                                              :disabled="msgStatus == 'searching'"
                                              @keypress.enter="submitSearch()"
                                              placeholder="Enter text to search">
                                </b-form-input>
                            </b-col>
                            <b-col lg="auto">
                                <b-button @click="submitSearch()" variant="primary" :disabled="msgStatus == 'searching'">Search</b-button>
                            </b-col>
                        </b-row>
                </div>
            </div>

        <div>
            <b-card scroll id="chat" title="Messages:" class="mb-2">
                <h3 v-if="msgStatus=='empty'">Insert message to search.</h3>
                <h3 v-if="msgStatus=='not_found'">Messages not found.</h3>
                <b-list-group v-if="msgStatus=='find'">
                    <b-list-group-item
                            v-for="(msg, i) in msgList"
                            :key="i">
                        <div>
                            <h6 class="mb-1" >
                                {{ msg.content }}
                                <small>{{ msg.date }}  [ {{ host }} ]  </small>
                            </h6>
                        </div>
                    </b-list-group-item>
                </b-list-group>
                <b-spinner variant="primary" type="grow" class="centered" v-if="msgStatus=='searching'"/>
            </b-card>
        </div>

        <b-modal ref="newClient" title="Client error" hide-footer>
            <h3>Client not found.</h3>
        </b-modal>

        <b-modal ref="clientList" title="Client List" hide-footer ok-only>
            <b-list-group>
                <b-list-group-item
                        v-for="(clients, x) in clientList"
                        :key="x"
                        class="w-100">
                    <div no-body class="w-100">
                        <h6 class="mb-1 w-100" >
                            {{ clients.name }}
                        </h6>
                    </div>
                </b-list-group-item>
            </b-list-group>
        </b-modal>

        <b-modal ref="error" title="ERROR" hide-footer ok-only>
            <h2>Something bad happended. Try again.</h2>
        </b-modal>
    </div>
</template>

<script>
    import {AXIOS} from '../conf/http-common';
    import restMethods from '../common/restPaths';
    import clientVariables from '../store/clientVariables';

    const uuidv4 = require('uuid/v4');

    export default {
        name: 'Search',
        mixins: [restMethods],
        data() {
            return {
                clientList: [],

                client: "",
                clientCheck: false,
                msgSend: false,

                actualClient:"",
                textSearch:"",
                msgSearch: false,
                msgList:[],
                msgStatus: 'empty',
                host: '',
            };
        },

        created() {
            this.client = clientVariables.state.client;
            this.actualClient = clientVariables.state.client;
        },

        methods: {
            getClient() {
                this.actualClient = clientVariables.state.client;
                return clientVariables.state.client;
            },

            submitClient(){
                this.clientCheck = true;
                this.clear();
                const obj = {
                    clientName: this.client,
                };
                const json = JSON.stringify(obj);
                AXIOS.post(this.microS3Path + clientVariables.state.mode + '/'  + this.microS3Methods.getClientConversation, json, {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        this.actualClient = response.data.client.name;
                        this.clientCheck = false;
                    })
                    .catch(e => {
                        this.$refs.newClient.show();
                        this.clear();
                        this.clientCheck = false;
                    });
            },

            submitSearch(){
                this.msgStatus='searching';
                const obj = {
                    client: this.client,
                    id: uuidv4(),
                    textToSearch: this.textSearch
                };
                const json = JSON.stringify(obj);
                AXIOS.post(this.microqueuePath + clientVariables.state.mode + '/'  + this.microqueueMethods.search, json, {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        this.msgList = response.data.messages;
                        this.host = response.data.host
                        this.scrollChat();
                        this.msgStatus='find';

                    })
                    .catch(e => {
                        this.$refs.error.show();
                        this.msgStatus='empty';
                    });
            },

            getClientList(){
                AXIOS.get(this.microS3Path + clientVariables.state.mode + '/' + this.microS3Methods.getClientList)
                    .then(response => {
                        this.clientList=response.data.clients;
                        this.$refs.clientList.show();
                    })
                    .catch(e => {
                        this.$refs.error.show();
                        this.clear();
                    });
            },

            scrollChat(){
                var container = this.$el.querySelector("#chat");
                container.scrollTop = container.scrollHeight;
            },

            clear(){
                this.msgList = [];
            }
        },
        computed: {
            mode() {
                return clientVariables.state.mode;
            }
            ,
        },
        watch: {
            mode() {
                this.clear()
            },
        }
    };
</script>

<style scoped>

    .headerName {
        padding-left: 20px;
        background-color: #eeeeee;
    }


    .headerSearch {
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 40px;
    }

</style>