<template>
    <transition name="paddingLeft">
    <sidebar-menu :menu="menu" :collapsed="collapsed" @collapse="onCollapse" />
    </transition>
</template>

<script>
    export default {
        name: 'sideMenu',
        data () {
            return {
                menu: [
                    {
                        href: '/',
                        title: 'Microservices information',
                        icon: 'fas fa-address-card',
                    },
                    {
                        href: '/chats',
                        title: 'Chats',
                        icon: 'fas fa-comments',
                    },
                    {
                        href: '/search',
                        title: 'Searching',
                        icon: 'fas fa-compass',
                    },
                ],
                collapsed: false,
            };
        },
        methods: {

            /**
             * Detect when the button collabse sideBar is clicked, and notify the parent component true or false
             * @param val the next state of the SideBar (collapse - uncollapse)
             */
            onCollapse (val) {
                this.$emit('send', val);
                this.collapsed = val;
            },
        },
    };
</script>

<style lang="scss">

    #app {
        padding-left: 350px;
    }
    #app.collapsed {
        padding-left: 50px;
    }
    .paddingLeft-enter-active, .paddingLeft-leave-active, #app.collapsed, #app {
        transition: padding-left .3s;
    }

    .v-sidebar-menu{
        padding-top: 55px;
        z-index: 3;
        color: #00c853;
    }
    .v-sidebar-menu .collapse-btn::after{
        font-family: Font Awesome 5 Free;
    }
</style>
