<template>
    <div>
        <div v-if="errorPage == 0" class="welcome">
            <div class="info" style="margin-top: 100px">
                <i rel="icon" class="fas fa-cloud" width="140px"></i>
                <h1>{{ hellomsg }}</h1>
            </div>

            <!-- Microservices control -->
            <div class="microservices">
                <b-card-group deck
                              class="mb-3">
                    <b-card v-for="(microservice, i) in microserviceList"
                            :key="i"
                            bg-variant="light"
                            :id=microservice.name
                            no-body
                            v-bind:class="{ borderedOK: (microservice.status == '1'),
                                            borderedError: (microservice.status == '3'),
                                            borderedLoad: (microservice.status == '0')}"
                            class="align-center text-center infoBox">
                        <div ><h3 class="mt-2 mb-2" style="width: auto">{{ microservice.name }}</h3></div>
                        <b-spinner variant="primary" type="grow" class="centered" v-if="microservice.status == '0'"/>
                        <div class="mb-2" v-if="microservice.content">
                            <div>{{ microservice.content.host}}</div>
                            <div>{{ microservice.content.date}}</div>
                        </div>
                    </b-card>
                </b-card-group>
            </div>

        </div>
        <div v-else>
            <ErrorComponent :error="error"></ErrorComponent>
        </div>
    </div>
</template>

<script>
    import {AXIOS} from '../conf/http-common';
    import restMethods from '../common/restPaths';

    export default {
        name: 'welcome',
        mixins: [restMethods],
        props: {hellomsg: {type: String, required: true}},
        data() {
            return {
                microqueue: { name: "microSQS", status: "0"},
                microS3: { name: "microS3", status: "0"},
                microserviceList: [],

                posts: '',
                messageSQS: '',
                messagesSQSlist: [],

                load: 0,
                errorPage: 0
            };
        },

        created() {
            this.microserviceList= [this.microqueue, this.microS3];
            AXIOS.get(this.microqueuePath + this.microqueueMethods.health)
                .then(response => {
                    this.microqueue.status = 1;
                    this.microqueue.content = response.data;
                })
                .catch(e => {
                    this.microqueue.status = 3;
                });

            AXIOS.get(this.microS3Path + this.microS3Methods.health)
                .then(response => {
                    this.microS3.status = 1;
                    this.microS3.content = response.data;
                })
                .catch(e => {
                    this.microS3.status = 3;
                });
        },

        methods: {

        }
    };
</script>

<style scoped>

    span {
        color: #ff1826;
    }

    .microservices{
        margin: 100px 50px 50px 50px;
    }

    .welcome {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin-top: 20px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .infoBox{
        height: 130px;
    }

    .borderedOK {
        border-color: #00c853;
        border-width: 5px;
    }

    .borderedLoad {
        border-color: #41b1ff;
        border-width: 5px;
    }

    .borderedError {
        border-color: #ff1826;
        border-width: 5px;
    }


</style>
