<template>
    <div id="menu">
        <div id="upBar">
            <NavigationBar></NavigationBar>
        </div>
        <div id="app" :class="{'collapsed' : collapsed}">
            <SideMenu v-on:send="collaps"></SideMenu>
            <router-view :hellomsg="msg"></router-view>
        </div>
    </div>
</template>


<script>
    import SideMenu from '@/components/SideMenu';
    import NavigationBar from '@/components/NavigationBar';

    export default {
        name: 'app',
        data() {
            return {
                msg: 'EchoSystem APP - Microservices Status',
                collapsed: false,
            };
        },

        components: {
            SideMenu,
            NavigationBar,
        },
        methods: {
            /**
             * Recive the sideBar message if the bar is collapsed or not
             * @param isCollapsed boolean
             */
            collaps(isCollapsed) {
                if (isCollapsed) {
                    this.collapsed = true;
                } else {
                    this.collapsed = false;
                }
            },
        },
    };
</script>

<style lang="scss">
    #upBar {
        z-index: 4;
    }

    #upBar {
        top: 0;
        height: 56px;
        width: 100%;
        position: fixed;
        padding-bottom: 50px;
    }

    #app {
        margin-top: 56px;
    }

    .error {
        color: #ff1826;
        padding-right: 20px;
        margin-right: 30px;
    }

    .buttonDefault {
        width: 200px;
    }

    .centered {
        margin-left: 50%;
    }

    #topMenu .navbar .navbar-dark .navbar-nav .nav-link{
        color:black!important
    }
</style>
